# exp_name: apxchase_mutag
# exp_name: pgexplainer_mutag
exp_name: apxchase_mutag
random_seed: 42

# ---- Experiment hyperparameters ----
L: 3             # hop / num GNN layers
k: 4       # window size
Budget: 8        # repair budget (1,2,4,6,8)
alpha: 1.0
beta: 1.0
gamma: 1.0
max_masks : 4

# ---- GNN Model ----
model_name: "gcn_graph_3" # gat_graph, gcn_graph, change along with L
hidden_dim: 32

# ---- Data ----
data_name: "MUTAG"
data_size: 188          # total number of graphs
input_dim: 7
output_dim: 2
batch_size: 32
train_ratio: 0.8
val_ratio: 0.1
test_ratio: 0.1
num_test: 0

# # ---- Training ----
# num_epochs: 200
# learning_rate: 0.01
# weight_decay: 0.0005


# Historical settings for reference:
# data_name: "BAHouse"
# data_size: 2020000
# num_edges: 12055704
# num_test: 404000  # 20% of nodes for testing
# input_dim: 1
# output_dim: 4  # {top, middle, bottom, non-house}
# vt: 100
# VT: [0,1,2,3,4,5,6,7,8,9,
#     10,11,12,13,14,15,16,17,18,19,
#     20,21,22,23,24,25,26,27,28,29,
#     30,31,32,33,34,35,36,37,38,39,
#     40,41,42,43,44,45,46,47,48,49,
#     50,51,52,53,54,55,56,57,58,59,
#     60,61,62,63,64,65,66,67,68,69,
#     70,71,72,73,74,75,76,77,78,79,
#     80,81,82,83,84,85,86,87,88,89,
#     90,91,92,93,94,95,96,97,98,99]

# 可选
graph_index: 2   # 不传 --input 时回退用
save_dir: results/mutag_apxchase  # 不传 --output 时回退用